

@font-face {
  font-family: 'Lucida Sans';
  src: url('font/lucida-sans-unicode.woff') format('.woff');
  font-style: normal;
  font-weight: normal;
}


body{
  background-image: url(/img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Lucida Sans';
}


.navbar{
  background-size: cover;
  background-position: center;
}


.butoon{
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    border: transparent;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    background-image: url(/img/batiks0.jpg);
    background-color: rgb(189, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.butoon:hover{
    color: white;
    background-color: rgb(164, 0, 0);
    transform: scale(1.1); /* Efek skala saat hover */

}


/* Breakdown */

@media (max-width: 991.98px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }


    .butoon{
      margin-right: 20px;
      margin-left: 20px;
      color: white;
      text-decoration: none;
      text-align: center;
      border: transparent;
      width: 60%;
      padding: 10px;
      border-radius: 10px;
      background-image: url(/img/batiks0.jpg);
      background-color: rgb(189, 6, 6);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
      .butoon:hover{
      color: white;
      background-color: rgb(164, 0, 0);
      transform: scale(1.1); /* Efek skala saat hover */
      }


      .kontenisi .card{
        justify-content: center;      

      }

      .kontenisi .card .card-img-top{
        height: 50vh;
        object-fit: cover;
      }

      .kontenisi .card-body {
        font-size: 1rem;
      }
    


  }



  @media(min-width: 2155px) {

    /* Logo */
      .navbar-brand{
        margin-top: 100px;
      }


      /* Menu */

      .butoon{
        border-radius: 50px;
        color: white;
        text-decoration: none;
        text-align: center;
        border: transparent;
        display: flex;
        width: 45%;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    
        .butoon:hover{
        color: white;
        transform: scale(1.1); /* Efek skala saat hover */
        }


      /* Searchbox */

      .input-group{
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 70px;
        align-content: center;
      }

      .input-group-text{
        font-size: 60pt;
      }

      .searchbox{
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 100px;
      }

      .kontenisi .card{
        margin-top: 70px;
        }
        
      .kontenisi .card-img-top {
        height: 50vw; /* Adjust height for 4K screens */
        }

    .kontenisi .card-title {
        font-size: 5rem; /* Adjust font size for 4K screens */
        }

    .kontenisi .card-text {
        font-size: 1.2rem; /* Adjust font size for 4K screens */
       }


  }